

.small-analytics-container {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    font-size: .875rem;
    background: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    height: 80%;
    justify-self: center;
    margin-top: 10%;
    
}

.small-analytics-upper {
    height: 70%;
}

.image-analytics-header-container {
    float:right;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(76, 175, 80);
    height: 86px;
    width: 86px;
    margin-top: -30px;
    margin-right: 15px;
    border-radius: 3px;
}

.image-analytics-icon {
    position: relative;
    top: 30%;
    font-size: 2.5rem !important;
    color: white;
}

    
.text-analytics-header-container {
    float: left;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
}

.text-analytics-header-container p {
    color: #999;
    margin: 0;
    font-size: 16px;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
}

.text-analytics-header-container h3 {
    float: left;
    color: #3C4858;
    margin-top: 0px;
    min-height: auto;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 3px;
    text-decoration: none;
    font-size: 26px;
}

.footer-small-analytics {
    border: 0;
    margin: 0 15px 10px;
    padding: 0;
    padding-top: 10px;
    border-radius: 0;
    background-color: transparent;
    height: 15%;
    width: 90%;
    border-top: 1px solid #eee;
    font-size: 12px;
}

.icon {
    top: 4px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}