.ready-to-pick-up-orders-header div#panel1a-header {
    background-color: #F5B335 !important;
}


.ready-to-pick-up-order-button {
    color: #F5B335 !important;
    border: 1px solid #F5B335 !important;
    margin: 0 auto;
    position: relative;
    top: 28%;
    padding: 10px 10px !important;
    border-radius: 0 !important;
}

.ready-to-pick-up-order-button:hover {
    color: white !important;
    background-color: #F5B335 !important;
}