 .root {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.test-item:hover {
  background-color: 'red' !important;
}

.test-item:active {
  background-color: 'red' !important;
}


.test-item:selected {
  background-color: 'red' !important;
}